.about {
  background: url('../../graphics/images/about_bg.svg') no-repeat center top / cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img {
    position: absolute;
    bottom: 0;
    user-select: none;
    max-height: 700px;
    img {
      max-height: inherit;
    }
  }

  &__subtitle {
    position: relative;
    max-width: 1055px;
    color: #fff;
    text-align: justify;
    font-size: 20px;
    font-weight: 900;
    margin-top: auto;
    margin-bottom: 40px;
  }
}
