.about {
  background: url('../../graphics/images/about_bg.svg') no-repeat center top / cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__subtitle {
    position: relative;
    max-width: 1030px;
    padding: 0 20px;
    color: #fff;
    text-align: justify;
    font-size: 20px;
  }
}
