.main {
  background: url('../../graphics/images/main_bg.png') no-repeat center top / cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    position: relative;
    margin-left: 50px;
  }

  &__blur {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: 0.3s;
    &_active {
      z-index: 4;
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  &__modal {
    max-width: 500px;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2b4162;
    padding: 30px 50px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    opacity: 0;
    transition: 0.3s;
    &_active {
      z-index: 5;
      opacity: 1;
      transition: opacity 0.3s;
    }

    &-title {
      font-size: 20px;
    }

    &-item {
      width: 100%;
      outline: none;
      border: none;
      border-radius: 25px;
      background-color: #a08d70;
      font-size: 20px;
      color: #2b4162;
      padding: 10px 15px;
      &::placeholder {
        color: #2b4162;
        text-transform: uppercase;
      }
    }

    &-text {
      resize: none;
      height: 145px;
    }
  }

  &__right {
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
  }

  &__title {
    font-size: 200px;
    text-shadow: 14px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.05em;
  }

  &__subtitle {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.1em;
  }

  &__btn {
    font-size: 20px;
    text-transform: uppercase;
    background-color: #a08d70;
    padding: 8px 60px;
    border: 2px solid #a08d70;
    border-radius: 25px;
    cursor: pointer;
    &:hover {
      border: 2px solid #fff;
    }
  }
}
