.main {
  background: url('../../graphics/images/main_bg.png') no-repeat center top / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-left {
    position: relative;
    margin-left: 50px;
  }
  &-right {
    position: absolute;
    bottom: 0;
    right: 0;
    user-select: none;
  }
  &__title {
    font-size: 200px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: #afafaf;
    font-size: 40px;
    margin-bottom: 15px;
  }
  &__btn {
    font-size: 20px;
    text-transform: uppercase;
    background-color: #a08d70;
    padding: 8px 60px;
    border: 2px solid #a08d70;
    border-radius: 25px;
    cursor: pointer;
    &:hover {
      border: 2px solid #fff;
    }
  }
}
