.menu {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    gap: 55px;
    &Item {
      &Link {
        color: white;
        opacity: 0.8;
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        &:hover,
        &_active {
          opacity: 1;
        }
      }
    }
  }
}
