.menu {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 40px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;

  @media (max-width: 973px) {
    display: none;
  }

  &__list {
    display: flex;
    gap: 55px;
    &Link {
      color: #fff;
      font-size: 32px;
      transition: 0.3s;
      &:hover,
      &_active {
        color: #8e8e8e;
      }
    }
  }
}

.menuMobile {
  position: fixed;
  z-index: 3;
  width: 100%;
  @media (max-width: 973px) {
    display: block;
  }
  &__burger {
    position: absolute;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 70px;
    width: 100%;
    height: fit-content;
    padding: 15px;
    &Item {
      max-width: 40px;
      width: 100%;
      height: 4px;
      border-radius: 5px;
      background-color: white;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    width: fit-content;
    svg {
      display: block;
    }
  }

  &__list {
    position: absolute;

    left: 0;
    top: 0;
    background-color: #1b1b1b;
    max-width: 430px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 55px;
    transform: translateX(-100%);
    transition: all 0.3s;

    &_active {
      transform: translateX(0);
    }

    &Title {
      position: absolute;
      top: 65px;
      color: #323232;
      font-size: 32px;
      font-weight: 900;
      text-transform: uppercase;
    }

    &Link {
      color: #fff;
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover,
      &_active {
        color: #8e8e8e;
      }
    }
  }
}
