.menu {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 40px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    gap: 55px;
    &Link {
      color: #fff;
      font-size: 32px;
      transition: 0.3s;
      &:hover,
      &_active {
        color: #8e8e8e;
      }
    }
  }
}
