@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 900;
  color: white;
  &::-webkit-scrollbar {
    width: 0;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  user-select: none;
  pointer-events: none;
}
