.price {
  background: url('../../graphics/images/price_bg.svg') no-repeat center top / cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    color: #a08d70;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
